* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3e8e8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 30px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color:  rgb(129, 44, 44);
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    margin-bottom: 20px; 
}

.about-image img {
    width: 60%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
    margin-right: 20px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 60px; 
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0;
    }

    .container {
        padding: 0;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .about-image {
        flex: 1;
        margin-right: 20px;
        overflow: hidden;
    }

    .about-content p {
        padding: 0;
        font-size: 16px;
    }
}

.skill {
    display: flex;
    border: 2px solid black;
    padding: 2em;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
    flex: 1;
    margin-top: 20px;
}

.skill::before {
    content: "My Skills";
    position: absolute;
    top: -18px;
    left: 40px;
    background-color: #ebecf0;
    padding: 5px 10px;
    color: #6d7587;
}

.skill .name {
    display: flex;
    flex-direction: column;
    color: #6d7587;
    font-size: 2em;
    font-weight: 500;
    margin-left: 10px;
}

.skill .name span {
    margin: 15px 0;
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    border: 5px solid #ebecf0;
    transition: 0.2s;
    cursor: pointer;
}

.skill .name span:hover {
    color: rgb(129, 44, 44);
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff, inset 9.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #ffffff;
}

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar {
    width: 400px; 
    height: 30px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #d9dade, inset 6px 6px 6px #ffffff;
}

.bar .progress {
    height: 100%;
    width: 30%; 
    background: linear-gradient(to right,  rgb(129, 44, 44),  rgb(129, 44, 44));
    border-radius: 20px;
}

.bar:nth-child(1) .progress {
    width: 80%;
}

.bar:nth-child(2) .progress {
    width: 70%;
}

.bar:nth-child(3) .progress {
    width: 50%;
}

.bar:nth-child(4) .progress {
    width: 80%;
}
