@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #faebd7;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(129, 44, 44); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #0876a2;
}
.home{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.home-content{
    max-width: 600px;
    margin: 20px 0 40px;
    margin-left: 108px;
}
.home-content h1{
   font-size: 56px;
   font-weight: 700;
   line-height: 1.2;
   color: rgb(129, 44, 44);
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color:#0e536e;
 }
 .home-content p{
    font-size: 32px;
    font-weight: 700;
    color:#0e536e;
 }
 .home-sci{
    position: absolute;
    bottom: 50px;
    width: 100px;
    display: flex;
    justify-content: space-between;
 }
 .home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid#0e536e;
    border-radius: 50%;
    font-size: 20px;
    color: #0e536e;
    text-decoration: none;
    z-index: -1;
    overflow: hidden;
    transition: .5s;
 }
 .home-sci a:hover{
    width:#081b29;
 }
 .home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
 }
 .home-sci a:hover::before{
    width: 100%;
 }


.home-img img {
    width: 890px; 
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
     
}